
<div #myModal class="otp-div">
    <div class="model-sign-otp">
        <div class="modal-content">
            <div class="modal-otp text-center">
                <button (click)="close()" class="btn-close "><i class="fas fa-times-circle"></i></button>
                <figure>
                  <img class="img-fluid" src="../../../assets/img/otp.png" alt="otp-img"/>
                </figure>

                <h4>Please enter the OTP to verify your account</h4>
                <!-- <p>OTP has been sent to 8376889912</p> -->
                <p>OTP has been sent to {{data?.phoneno}}</p>
                    <div class="inputfield">
                            <!-- <input type="number" maxlength="1" class="input">
                            <input type="number" maxlength="1" class="input">
                            <input type="number" maxlength="1" class="input">
                            <input type="number" maxlength="1" class="input mr-0"> -->
                            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
                            <p class="resend-otp" (click)="resendOtp()">{{transform(counter)}}
                                Resend OTP</p>
                    </div>

            <div class="row">
                <!-- <div class="col-lg-12">
                    <button type="button" class="btn btn-verify  mt-2" data-dismiss="modal">Verify OTP</button>
                </div> -->
            </div>

            </div>
    </div>

    </div>
    </div>
