<form  method="post" class="signup-form">
    <div class="form-group pd-field">
        <label class="label-field">Company List</label>
        <span class="icons-form">
            <img class="img-fluid" src="../../../assets/img/users3.png">
        </span>
        <input  type="text"  name="name"  class="form-control">
    </div> 

    <button type="submit" class="btn button-next w-40" >Previous</button>       
       
</form> 
<button type="submit" (click)="addcompny()" class="btn button-next w-40 pull-right" >Next </button>   
