<div class="dash-header py-2 px-4">
  <h4 class="mb-0">Dashboard</h4>

 <div  class="d-flex justify-content-end py-2 gap-3">
     <div  class="currentBalBox">
         <div  class="walletIconBox"><img src="../../../assets/img/wallet.png"></div>
         <div  class="amtBox">
             <div >Total Balance</div>
             <div >₹ 9,59,994.56</div>
         </div>
         <div  class="reloadBox"><a
                 href="javascript:void(0);"><svg
                     xmlns="http://www.w3.org/2000/svg" width="24" height="23.596"
                     viewBox="0 0 24 23.596">
                     <g  id="noun-refresh-92014"
                         transform="translate(-154.005 -83.999)">
                         <path  id="Path_274082" data-name="Path 274082"
                             d="M157.367,96.209a8.85,8.85,0,0,1,2.454-6.175,8.226,8.226,0,0,1,11.9,0L169.537,92.3h6.724V85.325l-2.185,2.267a11.392,11.392,0,0,0-16.608,0,12.234,12.234,0,0,0-3.463,8.617Z"
                             fill="#fff"></path>
                         <path  id="Path_274083" data-name="Path 274083"
                             d="M182,283.941v6.977l2.185-2.267a11.43,11.43,0,0,0,16.608-.035A12.379,12.379,0,0,0,204.256,280h-3.362a8.85,8.85,0,0,1-2.454,6.175,8.226,8.226,0,0,1-11.9,0l-1.177,1.256,3.362-3.489Z"
                             transform="translate(-26.251 -184.614)" fill="#fff"></path>
                     </g>
                 </svg></a></div>
     </div>
       <div class="user_blk">
         <div class="dropdown">
             <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                 <figure class="mb-0 "><img src="assets/img/user.png"></figure>
                 <div class="text-start"> <span class="fst-italic">Welcome</span>
                     <p class="mb-0">Hello</p>
                 </div>

             </button>
             <ul class="dropdown-menu w-100">
                 <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> My Profile</a></li>
                 <li><a class="dropdown-item" href="#"><i class="fa fa-cog"></i> My Settings</a></li>
             </ul>
         </div>
     </div>

 </div>
 </div>
