.single-transfer {
    border-radius: 10px;
    border: 1px solid #eff2f7;
    background: #fff;
    box-shadow: 0px 1.082px 6.492px 0px rgba(0, 0, 0, 0.13);
    .title {
      color: #172b43;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid #ccc;
      padding: 1rem;  
      @media(min-width:1680px){
        font-size: 19px;
      }
      
    }

form{
  
    .custom-checkbox {
      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #28a745;
        border-color: #28a745;
      
      }
    
      .custom-control-label{
        padding: 7px;
        &::before{
          border-radius: 0.25rem;
          width: 20px;
          height: 20px;
        }
        &::after{
          top: 2px;
          left: -25px;
          width: 24px;
          height: 24px;
    
        }
      }
    
    }
    
    
    // Custom Radio Button Styles
    .custom-radio {
      .custom-control-input:checked ~ .custom-control-label::before {
        background-color:#28a745;
        border-color: #28a745;
        
      }
      .custom-control-label{
        padding: 7px;
        &::before{
          border-radius: 50%;
          width: 24px;
          height: 24px;
        }
        &::after{
          top: 4px;
          left: -24px;
          width: 24px;
          height: 24px;
        }
      }
    }
    
    }

    
} 