  <section class="mt-4 p-4">
              <div class="container-fluid">
                  <div class="row">

                      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">

                          <div class="kyc-continue mb-2">
                              <div class="user-title text-capitalize">Good Evening, Hello</div>
                              <div class="user-mode">
                                  <i class="fa-solid fa-envelope mr-2"></i> Continue with Email
                              </div>
                          </div>


                          <div class="kyc-continue mb-2">
                              <div class="user-title text-capitalize">Good Evening, Hello</div>
                              <div class="user-mode">
                                  <i class="fa-solid fa-mobile-screen-button mr-2"></i> Continue with Mobile
                              </div>
                          </div>

                          <div class="filter-main my-4">
                              <div class="d-flex gap-2">
                                  <select class="form-control pr-0 mr-3" id="exampleFormControlSelect1">
                                      <option>Past 30 Days</option>
                                      <option>Past 2 months</option>
                                      <option>Past 3 months</option>
                                      <option>All</option>
                                  </select>

                                  <div class="date-cal"><i class="fal fa-calendar-alt"></i> <span
                                          class="px-2">01/01/2000</span>-<span class="px-2">01/01/2000</span></div>
                              </div>

                              <div class="d-flex gap-2">
                                  <div class="icons mr-2"><i class="fal fa-arrow-to-bottom"></i></div>

                                  <div class="icons"><i class="fal fa-redo"></i></div>
                              </div>
                          </div>
                          <div class="d-flex">

                              <div class="pay-main">
                                  <div class="pay-amt">
                                      <h2 class="mb-0">1250 INR</h2>
                                      <p>MTD Count</p>
                                  </div>
                                  <div class="cat_circle" data-toggle="modal" data-target=".verify-account">
                                      <img src="../../../assets/img/payout_initiated.png">

                                  </div>
                              </div>

                              <div class="pay-main">
                                  <div class="pay-amt">
                                      <h2 class="mb-0">1250 INR</h2>
                                      <p>MTD Volume</p>
                                  </div>
                                  <div class="cat_circle">
                                      <img src="../../../assets/img/payout_process.png">

                                  </div>
                              </div>


                              <div class="pay-main">
                                  <div class="pay-amt">
                                      <h2 class="mb-0">1250 INR</h2>
                                      <p>Today's count</p>
                                  </div>
                                  <div class="cat_circle">
                                      <img src="../../../assets/img/payout_processed.png">
                                  </div>
                              </div>


                              <div class="pay-main">
                                  <div class="pay-amt">
                                      <h2 class="mb-0">1250 INR</h2>
                                      <p>Toda's Volume</p>
                                  </div>
                                  <div class="cat_circle">
                                      <img src="../../../assets/img/payout_failed.png">

                                  </div>
                              </div>
                          </div>



                          <div class="widget widget-chart-one my-4 p-4">
                              <div class="widget-heading">
                                  <h5 class="">Success vs Failure</h5>
                                  <ul class="tabs tab-pills">
                                      <li><a href="javascript:void(0);" id="tb_1" class="tabmenu">Monthly</a></li>
                                  </ul>
                              </div>

                              <div class="widget-content">
                                  <div class="tabs tab-content">
                                      <div id="content_1" class="tabcontent">
                                          <div id="revenueMonthly"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>


                      </div>

                      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="right-grey">

                              <div class="transaction my-4">
                                  <h6>RECENT TRANSACTIONS</h6>

                                  <div class="table-responsive">
                                      <table class="custom-table table">
                                          <tbody>
                                              <tr>
                                                  <td class="p-2">
                                                      <div class="t-icon"><i class="fal fa-exchange"></i></div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-name">Priyansh<p>12 Jul, 2022</p>
                                                      </div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-status">Processing</div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-amount">₹2.256.00</div>
                                                  </td>

                                              </tr>

                                              <tr>
                                                  <td class="p-2">
                                                      <div class="t-icon t-icon-black"><i
                                                              class="far fa-ellipsis-h"></i>
                                                      </div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-name">Priyansh<p>12 Jul, 2022</p>
                                                      </div>
                                                  </td>
                                                  <td></td>
                                                  <td class="p-2">
                                                      <div class="t-red">₹2.256.00</div>
                                                  </td>

                                              </tr>
                                              <tr>
                                                  <td class="p-2">
                                                      <div class="t-icon"><i class="fal fa-exchange"></i></div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-name">Priyansh<p>12 Jul, 2022</p>
                                                      </div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-status">Processing</div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-amount">₹2.256.00</div>
                                                  </td>

                                              </tr>

                                              <tr>
                                                  <td class="p-2">
                                                      <div class="t-icon t-icon-black"><i
                                                              class="far fa-ellipsis-h"></i>
                                                      </div>
                                                  </td>
                                                  <td class="p-2">
                                                      <div class="t-name">Priyansh<p>12 Jul, 2022</p>
                                                      </div>
                                                  </td>
                                                  <td></td>
                                                  <td class="p-2">
                                                      <div class="t-red">₹2.256.00</div>
                                                  </td>

                                              </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>



                          </div>
                      </div>




                  </div>

              </div>
          </section>
     
