

$font-weight-light: 300;        
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// -------------color-----------


$white: #fff;
$black: #000;
$base-color: #000924;

$secondary-color: #061094;
$secondary-color2:#00659E;
$secondary-color3:#0A2558;
$secondary-color4:#081D45;
$secondary-color5:#050862;
$secondary-color6:#101f33;

$danger: #F20303;
$gray-color: #f0f4f8f0;
$input-border: #C0BAE4;
$gray-color1:#aaa;

$green:#a1e0a4;
$green2:#368c3a;


$darkgray-color: #808492;

$blue-liner:linear-gradient(to right, rgb(6 16 148), rgb(19 105 152 / 98%));
$blue-liner2:linear-gradient(4deg, #13154f 0%, #11779c 100%);







$card:linear-gradient(90deg, #0892b8 0%, #060a92 100%);









