<form class="signup-form" [formGroup]="addUserForms">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group pd-field">
        <label class="label-field">First Name</label>
        <span class="icons-form">
          <img class="img-fluid" src="../../../assets/img/user-icon.png" />
        </span>
        <input
          type="text"
          [ngClass]="{
            'is-invalid': submitted && loginControls['firstName'].errors
          }"
          autocomplete="off"
          formControlName="firstName"
          name="fname"
          class="form-control"
        />

        <div
          *ngIf="loginControls['firstName'].touched || submitted"
          class="mt-1"
        >
          <span
            class="text-danger"
            *ngIf="loginControls['firstName'].errors?.['required']"
          >
            First Name is Required
          </span>

          <span
            class="text-danger"
            *ngIf="loginControls['firstName'].errors?.['minlength']"
          >
            First Name must be at least 2 characters long.
          </span>

          <span
            class="text-danger"
            *ngIf="loginControls['firstName'].errors?.['maxlength']"
          >
            First Name can be max 15 characters long.
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group pd-field">
        <label class="label-field">Last Name</label>
        <span class="icons-form">
          <img class="img-fluid" src="../../../assets/img/user-icon.png" />
        </span>
        <input
          type="text"
          name="lastname"
          autocomplete="new-password"
          formControlName="lastName"
          class="form-control"
        />
        <div
          *ngIf="loginControls['lastName'].touched || submitted"
          class="mt-1"
        >
          <span
            class="text-danger"
            *ngIf="loginControls['lastName'].errors?.['required']"
          >
            Last Name is Required
          </span>
          <span
            class="text-danger"
            *ngIf="loginControls['lastName'].errors?.['minlength']"
          >
            Last Name must be at least 2 characters long.
          </span>

          <span
            class="text-danger"
            *ngIf="loginControls['lastName'].errors?.['maxlength']"
          >
            Last Name can be max 15 characters long.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="form-group pd-field">
        <label class="label-field">Email</label>
        <span class="icons-form">
          <img class="img-fluid" src="../../../assets/img/user-icon.png" />
        </span>
        <input
          type="email"
          name="email"
          autocomplete="off"
          formControlName="username"
          class="form-control"
        />
        <app-show-errors [ctrl]="addUserForms.get('username')">
        </app-show-errors>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group pd-field">
        <label class="label-field"> Password</label>
        <span class="icons-form">
          <img class="img-fluid" src="../../../assets/img/password-icon.png" />
        </span>
        <input
          type="password"
          name="Password"
          class="form-control"
          autocomplete="new-password"
          formControlName="password"
          (focus)="showErrorBox = true"
          (blur)="showErrorBox = false"
          appShowHidePassword
        />
        <div
          *ngIf="loginControls['password'].touched || submitted"
          class="mt-1"
        >
          <span
            class="text-danger"
            *ngIf="loginControls['password'].errors?.['required']"
          >
            Password is Required
          </span>
          <span
            class="text-danger"
            *ngIf="
              loginControls['password'].hasError('minlength') ||
              loginControls['password'].hasError('hasNumber') ||
              loginControls['password'].hasError('hasCapitalCase') ||
              loginControls['password'].hasError('hasSmallCase') ||
              loginControls['password'].hasError('hasSpecialCharacters')
            "
          >
            Password is not valid
          </span>
        </div>
        <div *ngIf="showErrorBox" class="mt-1 showValBoxList">
          <span
            class="col"
            [ngClass]="
              loginControls['password'].hasError('required') ||
              loginControls['password'].hasError('minlength')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              [ngClass]="
                loginControls['password'].hasError('required') ||
                loginControls['password'].hasError('minlength')
                  ? 'far fa-times-circle'
                  : 'far fa-check-circle'
              "
            ></i>
            Must be at least 8 characters!
          </span>
          <span
            class="col"
            [ngClass]="
              loginControls['password'].hasError('required') ||
              loginControls['password'].hasError('hasNumber')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              [ngClass]="
                loginControls['password'].hasError('required') ||
                loginControls['password'].hasError('hasNumber')
                  ? 'far fa-times-circle'
                  : 'far fa-check-circle'
              "
            ></i>
            Must contain at least 1 number!
          </span>
          <span
            class="col"
            [ngClass]="
              loginControls['password'].hasError('required') ||
              loginControls['password'].hasError('hasCapitalCase')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              [ngClass]="
                loginControls['password'].hasError('required') ||
                loginControls['password'].hasError('hasCapitalCase')
                  ? 'far fa-times-circle'
                  : 'far fa-check-circle'
              "
            ></i>
            Must contain at least 1 in Capital Case!
          </span>
          <span
            class="col"
            [ngClass]="
              loginControls['password'].hasError('required') ||
              loginControls['password'].hasError('hasSmallCase')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              [ngClass]="
                loginControls['password'].hasError('required') ||
                loginControls['password'].hasError('hasSmallCase')
                  ? 'far fa-times-circle'
                  : 'far fa-check-circle'
              "
            ></i>
            Must contain at least 1 Letter in Small Case!
          </span>
          <span
            class="col"
            [ngClass]="
              loginControls['password'].hasError('required') ||
              loginControls['password'].hasError('hasSpecialCharacters')
                ? 'text-danger'
                : 'text-success'
            "
          >
            <i
              [ngClass]="
                loginControls['password'].hasError('required') ||
                loginControls['password'].hasError('hasSpecialCharacters')
                  ? 'far fa-times-circle'
                  : 'far fa-check-circle'
              "
            ></i>
            Must contain at least 1 Special Character!
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group pd-field">
        <label class="label-field">Confirm Password</label>
        <span class="icons-form">
          <img class="img-fluid" src="../../../assets/img/user-icon.png" />
        </span>
        <input
          type="password"
          name="confirmpassword"
          id="cnfp"
          class="form-control"
          autocomplete="new-password"
          formControlName="confirmPassword"
          appShowHidePassword
        />
        <div
          *ngIf="loginControls['confirmPassword'].touched || submitted"
          class="mt-1"
        >
          <span
            class="text-danger"
            *ngIf="loginControls['confirmPassword'].errors?.['required']"
          >
            Confirm Password is Required
          </span>

          <div
            class="text-danger"
            *ngIf="
              addUserForms.controls['confirmPassword'].hasError(
                'confirmedValidator'
              )
            "
          >
            Password and confirm Password not matched
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    type="submit"
    (click)="getStart()"
    [disabled]="!addUserForms.valid"
    class="btn button-next w-100"
  >
    Next Step
  </button>
</form>
