<form method="post" class="signup-form">
    <div class="form-group pd-field">
        <label class="label-field">First Name</label>
        <span class="icons-form">
            <img class="img-fluid" src="../../../assets/img/users3.png">
        </span>
        <input  type="text"  name="name" autocomplete="off"  class="form-control">
    </div>
    <div class="form-group pd-field">
        <label class="label-field">last Name</label>
        <span class="icons-form">
            <img class="img-fluid" src="../../../assets/img/us3er.png">
        </span>
        <input  type="text"  name="name" autocomplete="off" class="form-control">
    </div>
    <div class="form-group pd-field">
        <label class="label-field">Email</label>
        <span class="icons-form">
            <img class="img-fluid" src="../../../../assets/img/u3ser.png">
        </span>
        <input  type="text"  name="email" autocomplete="off" class="form-control">
    </div>

    <div class="form-group pd-field">
        <label class="label-field">Enter Password</label>
        <span class="icons-form">
            <img class="img-fluid" src="../../../assets/img/password-icon.png">
        </span>
        <input  type="password" autocomplete="off" name="Password" class="form-control"> 
    </div>

    <div class="form-group pd-field">
        <label class="label-field">Enter Confirm Password</label>
        <span class="icons-form">
            <img class="img-fluid" autocomplete="off" src="../../../assets/img/password-icon.png">
        </span>
        <input  type="password" name="confirm_Password" class="form-control"> 
    </div>

   
</form>
<button type="submit" (click)="submitStep1()" class="btn button-next w-100" >Next Step</button>       